---
---

@import 'header';
@import 'button';
@import 'syntax';

$light-gray: rgba(black, 0.06);

body {
  margin: 0;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Grande', Calibri, Helvetica, Arial, sans-serif;
}

main {
  max-width: 600px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

code {
  background-color: $light-gray;
  padding: 2px 4px;
  display: inline-block;
  margin: 2px 0;
  border-radius: 4px;
}

.highlighter-rouge code {
  overflow-x: auto;
  display: block;
  padding: 15px;
}

blockquote {
  border-left: 5px solid $light-gray;
  margin-left: 0;
  padding-left: 10px;
}

kbd {
  background-color: #e6e6e6;
  padding: 1px;
  border-radius: 3px;
  border: 2px solid #c7c7c7;
  border-top-color: #d8d8d8;
  border-bottom-color: #a7a7a7;
  display: inline-block;
}

img {
  max-width: 100%;
}
