.g-header {
  background-color: purple;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & a {
    color: white;
    text-decoration: none;
  }

  & nav,
  & h1 {
    margin: 20px;
  }
}
